# snips
*.png

# debug files
debug/

# build files
build/

# google benchmark deps
benchmark/

# VS and VS code
.vs/
.vscode/
CMakeSettings.json


# cmake files
/Testing
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# makefiles
Makefile